@model Event.Models.FoodModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div id="divDataMaster" class="">
    <div id="" class="container-fluid">
        <div id="" class="col-md-9">
            <form id="divDataMaster">
                <div id="" class="row" style="margin-left:100px ; margin-top:100px">
                    <div class="card shadow border" style="margin-left:10px; width: 100%">
                        <div class="col-8 col-xl-8 grid-margin stretch-card" style="width:98%;">
                            <table id="tblFood" class="table" style="width:150px; color:black">
                                <thead>
                                    <tr style="width:98%;">
                                        <th>FoodId</th>
                                        <th>FoodType</th>
                                        <th>FoodName</th>
                                        <th>MealType</th>
                                        <th>DishType</th>
                                        <th>FoodCost</th>
                                        <th>CreateDate</th>
                                    </tr>
                                </thead>
                                <div>
                                    <button type="button" class="btn btn-primary" onclick="fnAddNewMaster()" style="margin-top:10px">Add New</button>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<div id="divAddEditElements" class="card row" style="margin-top:100px; margin-left:120px;width:50%; border-width: 2px;border-style: solid; ">
    <div class="d-flex container-fluid" >
        <div class="col-md-6">
            <form>
                <h3><span class="label label-info">Add Food</span></h3>
                <div class="form-group">
                    @* <label class="control-label" asp-for="FoodName">FoodID</label> *@
                    <input type="hidden" asp-for="FoodID" class="form-control" id="FoodID" value="0" />
                    @* <span asp-validation-for="FoodName" class="text-danger"></span> *@
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="FoodType">Food Type</label>
                    Veg: <input id="FoodType" name="FoodType" type="radio" value="Veg" />
                    Non-Veg: <input id="FoodType" name="FoodType" type="radio" value="Non-Veg" />
                    <span asp-validation-for="FoodType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="MealType">Meal Type</label>
                    Lunch: <input id="MealType" name="MealType" type="radio" value="Lunch" />
                    Dinner: <input id="MealType" name="MealType" type="radio" value="Dinner" />
                    <span asp-validation-for="MealType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Dish Type</label>
                    <select onchange="" id="DishType" style="width: 150px;">
                        <option value="Delux" id="DishType">Delux</option>
                        <option value="Regular" id="DishType"> Regular</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="FoodName">Dish Name</label>
                    <input asp-for="FoodName" type="text" class="form-control" id="FoodName" />
                    <span asp-validation-for="FoodName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" asp-for="FoodCost">Food Cost</label>
                    <input asp-for="FoodCost" type="text" class="form-control" id="FoodCost" />
                    <span asp-validation-for="FoodCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label">Upload Dish</label>
                        <input type="hidden" name="FoodFilename" multiple id="FoodFilename" />
                        <input required type="file" title="Please Upload Venue" name="files" multiple id="FoodFilePath" />
                        <br />
                        <img src="" alt="Image" id="FoodImage" style="width: 200px; height:150px" />
                    </div>
                    <div id="FoodFilenameLabel"></div>
                </div>
                <div>
                    <button type="button" id="btnSaveUpdateFood" onclick="fnAddUpdateFood()" class="btn btn-primary">Add/Edit</button>
                    <button type="button" class="btn btn-primary" id="" onclick="fnLoadData()">Show All Food</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="~/lib/datatables.min.js"></script>
<script src="~/lib/datatables.js"></script>
<link href="~/lib/datatables.min.css" rel="stylesheet" />
<link href="~/lib/datatables.css" rel="stylesheet" />
<script src="~/js/food.js"></script>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
