@{
    Layout = "~/Views/Shared/SuperAdminLayout.cshtml";
}

<div id="" class="card" style="margin-top: 90px; margin-left: 10px; width: 95%; border-width: 2px; border-style: solid;">

    <form>
        <img src="/Eventlogo1.png" style="width: 100%; height: 100%;">
    </form>

</div>

<p>Welcome, @ViewBag.Name!</p>

<script src="~/js/login.js"></script>