@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}


<div class="">
    <div class="">
        <div class="card-body ">
            <div id="" class="">
                <div class=" container-fluid" style="margin-left:10px ;margin-top:50px">


                    <h3>Next Process BookFood</h3><br />
                    <p style="margin-left:10px; text-align:left">
                        @Html.ActionLink("Click Here to Book Food", "BookFood", "BookingFood")
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>